#loginBody {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #fff,rgb(72, 121, 140));
    /* background-image: url(../../assets/img/signupbg.jpg); */

}



.greenLayer1 {
    height: 100vh;
    width: 100%;
    background-color: rgba(126, 153, 211, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginFormDiv {
    height: 70%;
    width: 45%;
    border-radius: 25px;
    background: linear-gradient(to right,#2e80bf, rgba(25, 26, 25, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Proxima Nova';

}

#loginFormDiv p {
    padding: 10px 0 20px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: larger;
}

#loginFormDiv button:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1)
}

#loginFormDiv input {
    background-color: transparent;
}

#loginBtn {
    padding: 12px 8px;
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    border: 0;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    width: 130px;
}

label {
    color: black !important;
}

.signUpBtn {
    padding: 12px 8px;
    color: black;
    background-color: lightgray;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    width: 130px;

}

@media screen and (max-width:1000px) {

    #loginFormDiv {
        height: 90%;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.86);
    }
}